body {background-color: #247BA0; color:white;}
h1{color: white;display: inline-block;}
.btn-primary{background-color: #FF1654}
a:link{color: white;}
a:visited{color: #FF1654;}
div.well{
	height: 250px;
}

.Absolute-Center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
	width: 50%;
	height: 50%;
	min-width: 200px;
	max-width: 400px;
	padding: 40px;
}

#logo-container{
	margin: auto;
	margin-bottom: 10px;
	width:200px;
	height:30px;
}
.btn{
	background-color: #FF1654;
}